a {
  color: black;
  text-decoration: none;
  text-decoration-color: whitesmoke;
  cursor: pointer;

  &:hover {
    color: gray;
    text-decoration-color: rgb(181,181, 181);
  }
}

html, body {
  background: #8870FF;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.container {
  position: relative;
  background: #fff;
  width: min(1000px, 90%);
  height: fit-content;
  padding-top: 70px;
  padding-bottom: 70px;
  border-radius: 24px;
  box-shadow: 16px 16px 8px rgba(0, 0, 0, .1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture-container {
/*   border: 1px solid blue; */
  width: 50%;
  height: 100%;
  align-self: flex-start;
  display: flex;
  justify-content: start;
  align-items: center;
}

.contact-form-container {
  height: 90%;
  width: 300px;
}

.contact-form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

.form-header {
  font-size: 20px;
  font-weight: 700;
  align-self: flex-start;
}

.email-input {
  border: none;
  outline: none;
  background: #eee;
  padding: 12px;
  border-radius: 6px;
  width: 100%;
  font-size: 100%;
  margin: 10px auto;
}

.message {
  border: none;
  outline: none;
  resize: none;
  background: #eee;
  padding: 12px;
  border-radius: 6px;
  width: 100%;
  font-size: 100%;
  margin: 10px auto;
}

.submit {
  border: none;
  outline: none;
  color: #fff;
  width: 100%;
  padding: 12px;
  background: #28a7a8;
  font-size: 100%;
  font-weight: 600;
  border-radius: 6px;
  transition: transform 300ms 0s cubic-bezier(0, 0.23, 0.29, 2.45);
}

.submit:hover {
  cursor: pointer;
  background: #7F69EE;
  transform: translateY(-2px);
}

/* Message Notication Style */
.contact_us_alert_success_message {
  position: absolute;
  top: 20px;
  right: 9%;
  height: 46px !important;
  justify-content: space-between;
  align-items: center !important;
  display: flex !important;
  background: #55B938 !important;
  color: #FFFFFF !important;
  min-width: 289px !important;
  max-width: fit-content !important;
  padding-right: 10px !important;
  padding-left: 10px !important;
  border-radius: 3px !important;
  font-size: 16px;
  font-weight: 600 !important;
}

.contact_us_alert_success_message > div, .contact_us_alert_error_message > div {
  align-items: center !important;
}

.contact_us_alert_btn {
  color: #FFFFFF !important;
  border: none;
  background: none;
  padding: 0px !important;
  margin-left: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.contact_us_success_alert_icon {
  align-items: center !important;
  padding-right: 10px !important;
}

.contact_us_alert_error_message {
  position: absolute;
  top: 20px;
  right: 9%;
  height: 46px !important;
  justify-content: space-between;
  align-items: center !important;
  display: flex !important;
  background: red !important;
  color: #FFFFFF !important;
  min-width: 289px !important;
  max-width: fit-content !important;
  padding-right: 10px !important;
  padding-left: 10px !important;
  border-radius: 3px !important;
  font-size: 16px;
  font-weight: 600 !important;
}

.contact_us_alert_error_message .contact_us_success_alert_icon {
  width: 34px !important;
  height: 24px !important;
}

@media (max-width: 850px) {
  .picture-container .picture > svg{
    width: 90%;
  }
}

@media (max-width: 575px) {
  .container {
    flex-direction: column;
  }

  .picture-container .picture > svg{
    width: 100%;
  }

  .picture-container {
    align-self: center;
  }

  .contact-form-container {
    width: auto !important;
  }
}