<section id="about" class="container col-11 col-lg-10 p-0">
  <p class="fs-5 text-center">Get to know more</p>
  <h1 class="fw-bold text-center">About Me</h1>
  <div class="row mt-4 d-flex about_main_container mb-5 g-0">
    <div class="col-12 col-md-12 col-lg-7">
      <div class="w-100 mt-3">
        <ul style="text-align: justify; padding-left: 16px !important;" class="gap-3 d-grid about_us_ul">
          <li class="">I'm Balaji Seenivasan, a Software Engineer</li>
          <li>👋 Hi, I'm a 2024 graduate with a passion for web development and software engineering. Over the past 4 months, I’ve been gaining hands-on experience as a Software Developer Intern at Migri Technology, a fast-growing startup.
            At Midri Technology,</li>
          <li> I’ve been working on full-stack projects using Angular, Node.js, Express, Firebase, and RESTful APIs to build scalable, dynamic applications. My journey so far has involved: Developing responsive front-end features using Angular for an optimal user experience.
            Implementing secure and efficient back-end services with Node.js and Express.</li>
          <li> Utilizing Firebase for real-time database management and authentication.
            Designing and consuming RESTful APIs to ensure smooth data flow across the application.
            As a recent graduate, I am constantly learning and staying updated on the latest web development trends. I’m passionate about building user-centered solutions and eager to apply my skills to new challenges.</li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-lg-5 d-flex justify-content-center d-sm-none d-lg-block">
      <img class="about-pic img-fluid rounded-5" src="./assets/about.jpeg" alt="Sebastiano's about image" >
    </div>
  </div>

  <!-- experience -->
  <div class="row g-0">
    <div class="col-12 col-md-6 d-flex justify-content-center mb-3 p-0">
      <div class="about-card card w-100 border-black">
        <div class="card-body text-center">
          <i class="fa fa-award fa-2x icon"></i>
          <h3 class="fw-bold about-subtitle">Experience</h3>
          <p class="card-text">
            {{ getExperienceYears() }}+ Months of experience
            <br>in Software Development with
            <br>a focus on the Angular and Node
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 d-flex justify-content-center mb-3 p-0">
      <div class="about-card card w-100 border-black">
        <div class="card-body text-center">
          <i class="fa fa-laptop-code fa-2x icon"></i>
          <h3 class="fw-bold about-subtitle">Specialized In</h3>
          <p class="card-text">
            Angular Tool<br>Node Js<br>Firebase Database<br>Microservices Architecture<br>Full Stack Developer
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
