.header-container {
  max-width: 1800px;

  @media (max-width: 1000px) {
    height: 30vh;
  }

  @media (max-width: 500px) {
    height: 10vh;
  }
}

.navbar_header_name {
  color: white;
  font-weight: 800;
  text-shadow: 2px 2px 8px #000000;
  
}
